<div class="container d-flex align-items-center justify-content-center">
    <div class="card align-items-center p-4">
      <h1>Register</h1>
      <a>Create a new account</a>
      <div >
        <div class="row">
            <div class="form-group col">
              <label for="inputEmail4">First Name</label>
              <input type="text" class="form-control" id="inputEmail4" placeholder="First Name">
            </div>
            <div class="form-group col">
                <label for="inputPassword4">Middle Name</label>
                <input type="text" class="form-control" id="inputPassword4" placeholder="Middle Name">
              </div>
            <div class="form-group col">
              <label for="inputPassword4">Last Name</label>
              <input type="text" class="form-control" id="inputPassword4" placeholder="Last Name">
            </div>
          </div>
        <div class="row mt-2">
            <div class="form-group col">
                <label for="exampleInputPassword1">DOB</label>
                <input type="date" class="form-control" >
            </div>
            <div class="form-group col">
                <label for="exampleInputPassword1">Phone No.</label>
                <input type="number" class="form-control" placeholder="+91">
            </div>
        </div>
        <div class="row mt-2">
            <div class="form-group col">
                <label for="exampleInputPassword1">Username</label>
                <input type="text" class="form-control" placeholder="Username">
            </div>
            <div class="form-group col">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" placeholder="Password">
            </div>
            <div class="form-group col">
                <label for="exampleInputPassword1">Confirm Password</label>
                <input type="password" class="form-control" placeholder="Confirm Password">
            </div>
        </div>
        
        <button type="submit" class="btn btn-primary mt-2" (click)="loginbtn()">Register</button><br/>

  
      </div>
    </div>
  </div>